<% if @issue.status_id == 3 %>
<p style="color: #66dd00; font-size: 18px;"><%= l(:text_ts_issue_status_resolved) %></p>
<% elsif @issue.status_id == 6 %>
<p style="color: #dd6600; font-size: 18px;"><%= l(:text_ts_issue_status_feedback) %></p>
<% end if %>
<%= l(:text_issue_updated, :id => "##{@issue.id}", :author => h(@journal.user)) %>

<%= textilizable(@journal, :notes, :only_path => false) %>

<ul>
<% details_to_strings(@journal.details, false, :only_path => false).each do |string| %>
  <li><%= string %></li>
<% end %>
</ul>

<hr />
<%= render :partial => 'issue', :formats => [:html], :locals => { :issue => @issue, :issue_url => @issue_url } %>
